{% extends 'base.html' %}

<!--  Load static files -->
{% load static %}

{% block meta %}
<title>Books Buddy</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
{% endblock meta %}

{% block content %}

{% include 'header.html' %}

<div class="bg-white h-screen">
  <div class="isolate px-6 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#964B00] to-[#FFFF00] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl" data-aos="fade-down" data-aos-duration="1000">Welcome to <br>Books Buddy</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600" data-aos="fade-up" data-aos-duration="1000">Are you passionate about reading, exploring new literary worlds, and connecting with fellow book enthusiasts? You've come to the right place! Books Buddy is your literary companion and ultimate online destination for all things related to books and literature. </p>
        <div class="mt-5 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-yellow-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" data-aos="fade-up" data-aos-duration="1000">Learn more <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#964B00] to-[#FFFF00] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>

<section class="bg-white">
  <div class="container px-6 py-10 mx-auto" data-aos="fade-up">
    <div class="flex justify-center">
      <div class="max-w-[700px] text-center">
        <p class="mb-6 font-bold uppercase text-primary">
          Features
        </p>
        <h2 class="mb-6 text-3xl font-bold">What We Offer?</h2>
        <p class="mb-6 text-lg leading-8 text-gray-600">
          Books Buddy is your literary companion on your reading journey. So, what are you waiting for? Start exploring, connecting, and expanding your literary horizons with us today!
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-6 xl:mt-12 xl:gap-10 md:grid-cols-2 xl:grid-cols-4">
        <div class="p-8 shadow space-y-3 border-2 border-yellow-700 rounded-xl" id="my-buddy" data-aos="fade-up" data-aos-delay="100">
            <span class="inline-block text-blue-500 dark:text-blue-400">
              <lord-icon
                src="https://cdn.lordicon.com/omiqopzf.json"
                trigger="hover"
                colors="primary:#916f10">
              </lord-icon>
            </span>

            <h3 class="text-2xl font-semibold capitalize text-grey-900">MyBuddy</h3>

            <p class="text-gray-600 text-justify">
              <strong>MyBuddy</strong> module empowers users to effortlessly track and organize their personal book collections. Each book comes with reading progress tracker. Dive into a world of books with MyBuddy, where your personal library becomes a seamless, engaging, and ever-evolving adventure.
            </p>

            <a href="#" class="inline-flex p-2 capitalize bg-yellow-600 rounded-full text-white hover">
              <lord-icon
                  src="https://cdn.lordicon.com/whtfgdfm.json"
                  trigger="hover"
                  colors="primary:#ffffff">
              </lord-icon>
            </a>
        </div>

        <div class="p-8 shadow space-y-3 border-2 border-yellow-700 rounded-xl" id="find-buddy" data-aos="fade-up" data-aos-delay="300">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <lord-icon
              src="https://cdn.lordicon.com/fkdzyfle.json"
              trigger="hover"
              colors="primary:#916f10">
            </lord-icon>
          </span>

          <h3 class="text-2xl font-semibold capitalize text-grey-900">FindBuddy</h3>

          <p class="text-gray-600 text-justify">
            Explore a World of Books with <strong>FindBuddy</strong>, where we bring an extensive library of books at your fingertips. Discover your next great read with each book comes with detailed information, including book descriptions and cover, to assist you in making the perfect selection. FindBuddy makes book exploration effortless and enjoyable.
          </p>

          <a href="#" class="inline-flex p-2 capitalize bg-yellow-600 rounded-full text-white hover">
            <lord-icon
                src="https://cdn.lordicon.com/whtfgdfm.json"
                trigger="hover"
                colors="primary:#ffffff">
            </lord-icon>
          </a>
        </div>

        <div class="p-8 shadow space-y-3 border-2 border-yellow-700 rounded-xl" id="reach-buddy" data-aos="fade-up" data-aos-delay="500">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <lord-icon
              src="https://cdn.lordicon.com/hrjifpbq.json"
              trigger="hover"
              colors="primary:#916f10">
            </lord-icon>
          </span>

          <h3 class="text-2xl font-semibold capitalize text-grey-900">ReachBuddy</h3>

          <p class="text-gray-600 text-justify">
            With <strong>ReachBuddy</strong> you can dive into the world of book enthusiasts and connect with a vibrant community of readers. Engage in insightful discussions about your favorite books and exchange ideas with fellow users. 'ReachBuddy' fosters a platform for meaningful interactions and empowers you to discover new books through the eyes of others, creating a thriving hub for book lovers.
          </p>

          <a href="#" class="inline-flex p-2 capitalize bg-yellow-600 rounded-full text-white hover">
            <lord-icon
                src="https://cdn.lordicon.com/whtfgdfm.json"
                trigger="hover"
                colors="primary:#ffffff">
            </lord-icon>
          </a>
        </div>

        <div class="p-8 shadow space-y-3 border-2 border-yellow-700 rounded-xl" id="event-buddy" data-aos="fade-up" data-aos-delay="700">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <lord-icon
              src="https://cdn.lordicon.com/wmlleaaf.json"
              trigger="hover"
              colors="primary:#916f10">
            </lord-icon>
          </span>

          <h3 class="text-2xl font-semibold capitalize text-grey-900">EventBuddy</h3>

          <p class="text-gray-600 text-justify">
            Experience the world of literature and captivating literary events with <strong>EventBuddy</strong>. Explore a wide range of book-themed activities and gatherings happening in various locations. You can easily find and register for exciting book-related events. 'EventBuddy' opens the door to a world of literary adventures, allowing you to engage with book events that resonate with your passion for reading.
          </p>

          <a href="#" class="inline-flex p-2 capitalize bg-yellow-600 rounded-full text-white hover">
            <lord-icon
                src="https://cdn.lordicon.com/whtfgdfm.json"
                trigger="hover"
                colors="primary:#ffffff">
            </lord-icon>
          </a>
        </div>
  </div>
</section>

{% include 'footer.html' %}

<script>
  AOS.init();
</script>
{% endblock content %}