{% extends 'base.html' %}

<!--  Load static files -->
{% load static %} 

{% block framework %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block meta %}
<title>Sign Up | Books Buddy</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="min-h-screen py-12" style="background: #eee;">
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
      <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center gradient-custom">
        <h4 class="text-white text-3xl mb-3 font-bold">Books Buddy</h4>
        <div>
          <p class="text-white">Join the Books Buddy community for free and start your book journey today! Discover, connect, and explor the World of Books. Sign up now to unlock a world of reading possibilities</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 py-12 px-12">
        <div class="w-32">
          <a href="{% url 'main:landing_page' %}">
            <img src="{% static 'img/logo2.png' %}" style="width: 185px;" alt="logo">
          </a>
        </div>
        <p class="mb-4">
          Create your account. It's free and join us.
        </p>
        <form action="#" method="post">
          {% csrf_token %}
          <div class="grid grid-cols-2 gap-5">
            <div>
              <label for="id_full_name" class="block text-sm font-semibold leading-6 text-gray-900">Full name</label>
              <div class="mt-2.5">
                  <input type="text" name="full_name" id="id_full_name" maxlength="50" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 textinput textInput form-control" required placeholder="Full name">
              </div>
            </div>
            <div>
              <label for="id_username" class="block text-sm font-semibold leading-6 text-gray-900">Username</label>
              <div class="mt-2.5">
                  <input type="text" name="username" id="id_username" maxlength="150" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 textinput textInput form-control" required placeholder="Username">
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-5 mt-5">
            <div>
              <label for="id_email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
              <div class="mt-2.5">
                  <input type="email" name="email" id="id_email" maxlength="200" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 emailinput form-control" required placeholder="example@example.com">
              </div>
            </div>
            <div>
              <label for="id_status" class="block text-sm font-semibold leading-6 text-gray-900">Join as a ...</label>
              <div class="mt-2.5">
                  <select name="status" id="id_status" maxlength="200" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 select form-control" required>
                    <option value="R">Reguler</option>
                    <option value="M">Member</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-5 mt-5">
            <div>
              <label for="id_password1" class="block text-sm font-semibold leading-6 text-gray-900">Password</label>
              <div class="mt-2.5">
                  <input type="password" name="password1" id="id_password1" maxlength="200" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 textinput textInput form-control" required placeholder="*******">
              </div>
            </div>
            <div>
              <label for="id_password2" class="block text-sm font-semibold leading-6 text-gray-900">Password confirmation</label>
              <div class="mt-2.5">
                  <input type="password" name="password2" id="id_password2" maxlength="200" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 textinput textInput form-control" required placeholder="*******">
              </div>
            </div>
          </div>
          <div class="mt-5">
            <button class="w-full gradient-custom py-3 text-center text-white rounded-md">Register Now</button>
            <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500">Already have an account? <a href="{% url 'main:login' %}" class="font-medium text-yellow-600 underline">login</a>.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
