{% extends 'base.html' %}

<!--  Load static files -->
{% load static %}

{% block meta %}
<title>Books Buddy</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
{% endblock meta %}

{% block content %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="date" name="date"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Event</button>
            </div>
        </div>
    </div>
</div>

<div id="event_cards" class="all-product d-flex flex-wrap align-content-start gap-4"></div>


<button type="button" class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-green-600 transition duration-300" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>


{% include 'header.html' %}

{% include 'footer.html' %}

{% endblock content %}